.avatar{
    position: absolute;
    bottom: 15px;
    left: 30px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.block{
    position: relative;
}
.avatar::after{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: green;
    z-index: 3;
}
